/* body{
    background-color: rgba(26, 11, 46, 1);
} */

/* .open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color:rgba(255, 255, 255, 1) ;
  
} */