 
  @import ("tailwindcss")
  body{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color:rgba(255, 255, 255, 1) ;
} 
section{
    color:rgba(255, 255, 255, 1)
}

.bg-blue{
background-color: rgba(26, 11, 46, 1);
}
.bg-light-blue{
    background-color: rgba(35, 14, 61, 1);
}
.wave{
    background-image: url('./assets/hero-bg.png');
    background-repeat: no-repeat;
      width: 100%;
     height: 100%;
     background-size: cover;
     background-position: center;
     background-repeat:repeat-x ;
     padding-top: 50px;
}
.navbar{
    display: flex;
     justify-content: space-around;
     align-items: center;
   
}
nav ul{
    list-style: none;
}
nav ul{
    display: flex;
    gap: 32px;
}
nav a {
    text-decoration: none;
    color:rgba(255, 255, 255, 1)
}
.btn{
    background: linear-gradient(to right, #F7E93F,#FB09B4,#9100F8);
    padding: 10px;
    border-radius: 20px;
    color: white;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.span{
    background: linear-gradient(45deg, #F7E93F,#FB09B4,#9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
}
.relative{
    position: relative;
    display: flex;
     justify-content: center;
    align-items: center;
}
.circle{
    position: relative;
}
.microphone{
    position: absolute;
    display: grid;
}
.after-cicle{
    text-align: center;
}
.subscribe-container{
    border: 2px solid rgba(0, 255, 136, 1);
    padding: 5px 20px;
    border-radius: 20px;
}
.subscribe{
    display: flex;
    gap: 8px;

}