 
  @import ("tailwindcss")
  body{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color:rgba(255, 255, 255, 1) ;
} 
section{
    color:rgba(255, 255, 255, 1)
}

.bg-blue{
background-color: rgba(26, 11, 46, 1);
}
.bg-light-blue{
    background-color: rgba(35, 14, 61, 1);
}
.wave{
    background-image: url('./assets/hero-bg.png');
    background-repeat: no-repeat;
      width: 100%;
     height: 100%;
     background-size: cover;
     background-position: center;
     background-repeat:repeat-x ;
     padding-top: 50px;
}
.footer{
    background-image: url('./assets/footer-bg.png');
    display: grid;
    justify-items: center;
    align-items: center;
    padding-bottom: 55px;
    background-repeat: no-repeat;
    /* padding-right: 50px; */
    background-position: center;

}
.middle{
    text-align: center;
}
.navbar{
    display: flex;
     justify-content: space-around;
     align-items: center;
   
}
nav ul{
    list-style: none;
}
nav ul{
    display: flex;
    gap: 32px;
}
nav a {
    text-decoration: none;
    color:rgba(255, 255, 255, 1)
}
.btn{
    background: linear-gradient(to right, #F7E93F,#FB09B4,#9100F8);
    padding: 10px;
    border-radius: 20px;
    color: white;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.span{
    background: linear-gradient(45deg, #F7E93F,#FB09B4,#9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
}
.relative{
    position: relative;
    display: flex;
     justify-content: center;
    align-items: center;
}
.circle{
    position: relative;
}
.microphone{
    position: absolute;
    display: grid;
}
.after-cicle{
    text-align: center;
}
.subscribe-container{
    border: 2px solid rgba(0, 255, 136, 1);
    padding: 5px 20px;
    border-radius: 20px;
}
.subscribe{
    display: flex;
    gap: 8px;

}
.banner-container{
    margin-top: 30px;
    display: grid;
    padding: 30px 60px 20px 30px;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
.banner{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 30px;
    padding: 30px;
}
.headphone{
    grid-row: span 2;
    grid-column: span 1;
}
.device, .location{
    grid-column: span  2;
    grid-row: span 1;
}
.zap{
    grid-column: span 2;
    grid-row: span 1;

}
.vedio{
    display: grid;
    gap: 10px;
    border-radius: 10px;
    text-align: left;
     background-color: rgba(35, 14, 61, 1);
     padding: 15px;
}
.round{
    display: grid;
    justify-items: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid white;
}

